html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

h2 {
  padding-top: 1rem;
}

#welcome {
  max-width: 1300px;
  margin: auto;
}

#welcome a {
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin-right: 1rem;
  color: black;
  text-decoration: none;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: 2rem;
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 2rem;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
  padding-bottom: 1rem;
}

article > *:not(img) {
  padding-inline: 1rem;
}

article img {
  object-fit: cover;
}

.pagination {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  justify-content: center;
  display: flex;
}

.pagination:nth-of-type(2) {
  margin-bottom: 2rem;
}
